/* maindashbord start */
.main-content {
  display: flex;
 
}

/* maindashbord end */

/* right-side-content start*/
.right-side-content {
  width: 100%;

  padding:20px;
  transition: padding-left 0.3s;
}

@media (max-width: 820px) {
  .right-side-content.collapsed {
    padding-left: 0px !important;
     
  }
  .right-side-content {
  width: 100%;
  margin-top: 20px;
  padding-left: 0px;
  transition: padding-left 0.3s;
}

}

.right-side-content.collapsed {
  padding-left: 80px;
}